node_modules/
mobile/node_modules/
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
__pycache__/
*.pyc
.expo/
mobile/.expo/
*.log
data/
models/*
!models/stage1_binary_v2.keras
!models/stage2_subtype_v2.keras
!models/best.pt
